body {
    background-color:gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
}

.calculator {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(62, 59, 59);
     border-radius: 20px;
     background-color: rgb(70, 65, 65);


}

input {
    width: 93%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 15px;
    border: none;
    border-radius:5px;
    box-shadow: 0 0 5px rgb(42, 40, 40);
}

button {
    width: 150px;
    height: 80px;
    font-size: 28px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 8px;

}

.del {
    background-color: red;
}